.text-project {
  font-weight: 200;
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-align: right;
  padding-bottom: 5rem;
}

.text-project span {
  font-weight: 400;
}

.container a img {
  max-height: 830px;
  width: 1440px;
  object-fit: contain;
}

.container h5 {
  font-weight: 400;
  font-size: var(--font-size-base);
  padding-bottom: 16px;
}

@media screen and (max-width: 600px) {
  .mega {
    display: none;
  }

  .text-project {
    font-size: 0.8rem;
    line-height: 13px;
    padding-bottom: 2rem;
  }

  .container h5 {
    font-size: var(--font-size-sm);
  }

  .container a img {
    height: 90vw;
    width: 90vw;
    object-fit: cover;
  }
}
